body {
	background-color: #242933;
	color: #ffffff;
  }

  .header {
	overflow: hidden;
	background-color: #191d24;
  }

  .header a {
	float: left;
	color: #b5bccc;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
  }

  .header a.logo {
	font-size: 25px;
	font-weight: bold;
  }

  .header a:hover {
	background-color: #3b4252;
	color: #b5bccc;
  }

  .header a.active {
	background-color: #3b4252;
	color: #b5bccc;
  }

  .header-right {
	float: right;
  }

  xmp {
	color: #b5bccc;
	background-color: #242933;
  }